body{
  margin: 0;
  font-size: 2rem;
  display: flex;
  min-height: 100vh;
  
}

main{
  /* flex: 1; */
  width: 700px;
  margin: 0 auto;
  background-color: antiquewhite;
  border: solid thin;
  
}
aside{
  width: 25%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border: solid thin;
}
ul{
  list-style: none;
  padding: 0%;
  margin: 0;
  background-color: antiquewhite;
}

li{
  border-bottom: solid thin;
}


div{
    height: 300px;
    margin-top: auto;
    background-color: antiquewhite;
    border-top: solid thin;
}


.open,
.close{
    display: none;
}

input[type="checkbox"]{
  position: absolute;
  left: -50vw;
}

@media screen and (max-width:1000px){
  main{
    width: 100%;
    padding-top: 50px;
  }
}
.open,
.close{
  display: block;
}
.open{
  position: absolute;
}

aside{
  position: absolute;
  left: -250vw;
  height: 100%;
  transition: all 0.2s;
  background: #ffff;
}

input[type="checkbox"]:checked ~ aside{
  left: 0%;
}

input[type="checkbox"]:checked ~ .back{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0 ,0,0.8);
}